<form action="/shorten" method="POST">
  <label for="ori-url">Original URL : </label>
  <div class="input-group mb-3">
    <input
      type="url"
      class="form-control"
      name="originalURL"
      placeholder="enter an url"
      value="{{ori_url}}"
      id="ori-url"
      required
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="convert-btn"
    >Convert</button>
  </div>
</form>

{{#if new_url}}
  <label for="new-url">New URL : </label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      value="{{new_url}}"
      id="new-url"
      disabled
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="copy-btn"
    >Copy</button>
  </div>
{{/if}}

<div class="alert alert-success copy-message-hide" id="copy-message" role="alert">The new URL has been copied to the
  clipboard.
</div>