<form action="/shorten" method="POST">
  <div class="input-group mb-3">
    <input
      type="url"
      class="form-control"
      name="originalURL"
      placeholder="enter an url"
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="convert-btn"
    >Convert</button>
  </div>
</form>

{{#if newURL}}Post test :{{newURL}}{{/if}}