<form action="/shorten" method="POST">
  <div class="input-group mb-3">
    <input
      type="url"
      class="form-control"
      name="originalURL"
      placeholder="enter an url"
      value="{{ori_url}}"
      required
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="convert-btn"
    >Convert</button>
  </div>
</form>

{{#if new_url}}
  <label for="new-url">New URL : </label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      value="{{new_url}}"
      id="new-url"
      disabled
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
    >Copy</button>
  </div>
{{/if}}