<form action="/" method="POST">
  <div class="input-group mb-3">
    <input
      type="url"
      class="form-control"
      placeholder="enter an url"
      aria-label="original-url"
      aria-describedby="convert-btn"
    />
    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="convert-btn"
    >Convert</button>
  </div>
</form>

{{#if code}}Post test :{{code}}{{/if}}