<div class="input-group mb-3">
  <input type="url" class="form-control" placeholder="enter an url" aria-label="original-url" aria-describedby="convert-btn">
  <button class="btn btn-outline-secondary" type="button" id="convert-btn">Convert</button>
</div>